

/* ----------------------------------------------   Règles générales    ----------------------------------------- */

body>div {
    background-color:#DDEFF8;
}

footer {
    background-color: #5F7481;
    color: white;
    
}

footer a {
    text-decoration: none;
    color: white;
}

.btn-card{
    width: auto;
}

header {
    height: 25vh;
} 

footer {
    height: 10vh;
}
  
/* --------------------------------------------     Home's page  ----------------------------------------------*/
#onload, #Account {
    height: 100vh;
    width: 100vw;
    background-color: rgb(184, 175, 175, 0.4);
    z-index: 1001;
    position: fixed;
    top: 0;
}

#blockAlert, #Form {
    background-color:white;
    padding: 1rem;
    margin: 1rem;
}

/* #closeBtn {
    margin-right: 0;
} */

/* label {
    margin-left: 5em;
} */

#homeMain>article {
    height: 8em;
}


/* --------------------------------------------------   Blog    ----------------------------------------------------------- */

.articleCards{
    border: solid 3px#A8CAF0;
    border-radius: 8%;
    width: 15rem;
    margin: 1em;
}

#blogMain>.articleCards>h2{
    font-size: medium;
}


/* --------------------------------------------------   Statistiques    --------------------------------------------------- */
tbody, td, tfoot, th, thead, tr {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

tbody, td {
    text-align: center;
}

tr {
    border-bottom: 2px solid #A8CAF0;
}

#firstRow{
    background-color: hsl(212, 71%, 80%, 0.3);
    border-bottom: none;
}

#firstRow > td {
    width: 20%;
    font-size: 80%;
    font-weight: inherit;
}

#statsTable {
    margin: 3rem 0 3rem 0;
}




/* ---------------------------------------------------  Media Queries   ----------------------------------------------------- */
@media screen and (min-width: 768px){

    #Form {
        width: 70%;
    }

    #formContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-label {
        /* margin left */
    }

    #headerTitle {
       height: 20vh;
   }

   #headerBtn {
       height: 8vh;
   }

   #firstRow>td{
       font-size: inherit;
   }

   #statsTable {
       width: 60%;
   }

}

@media screen and (min-width: 992px){

    #blogMain{
        height: 50vh;
    }
    #blogMain>.articleCards{
        height: 50%;
        align-self: center;
    }
    #homeMain>article {
        height: 12em;
    }
}